



<header class="section__play-btn mdl-cell mdl-cell--3-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color--teal-100 mdl-color-text--white">
  <img src= "https://robohash.org/mike" >
</header>
<div class="mdl-card mdl-cell mdl-cell--9-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
  <div class="mdl-card__supporting-text">
    <h4>Features</h4>
    <% @robots.each do |robot| %>
  <h3><a href="/robots/<%= robot.id %>"><%= robot.name %></a></h3>
  
  
  </div>
  <div class="mdl-card__actions">
    <a href="#" class="mdl-button">Read our features</a>
  </div>
</div>
<button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn1">
  <i class="material-icons">more_vert</i>
</button>
<ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn1">
  <li class="mdl-menu__item"><a href="/robots/<%= robot.id %>/edit">edit</a></li>
  <li class="mdl-menu__item" disabled><form action="/robots/<%= robot.id %>" method="POST">
  	<input type="hidden" name="_method" value="DELETE">
  	<input type="submit" value="Delete">
  </form>
<% end %></li>
  
</ul>