<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/application.css">
  <title>Robot World</title>
</head>
<body>
  <div class="container">
    <%= yield %>
  <footer>
  	<p>Michael Dorrance <a href="https://github.com/mdorrance/robot_world">Check out this repo on Github</a></p>
  </footer>
  </div>

</body>
</html>