<form action="/robots" method="post">
  <p>Enter a new Robot:</p>
  <label>Robot Name <input type='text' name='robot[name]'/></label><br/>
  <label>City <input type='text' name='robot[city]'/></label><br/>
  <label>State <input type='text' name='robot[state]'/></label><br/>
  <label>Avatar <input type='text' name='robot[avatar]'/></label><br/>
  <label>Birthdate <input id="birthdate" type='text' placeholder="mm/dd/yyyy" name='robot[birthdate]'/></label><br/>
  <label>Date Hired <input id="date_hired" type='text' placeholder="mm/dd/yyyy" name='robot[date_hired]'/></label><br/>
  <label>Department <input type='text' name='robot[department]'/></label><br/>
  <input type='submit'/>
</form>